main {
  background-image: url(../day07/width/henning-witzel-ukvgqriuOgo-unsplash.jpg);
  object-fit: cover;
  height: 85vh;
}
main > section {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
main > section > article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: white;
}
article > span {
  font-size: 100px;
  font-weight: 700;
}
article > div {
  line-height: 15px;
  font-size: 12px;
  color: grey;
}
article > button {
  width: 350px;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 5px;
}
