.box {
  width: 500px;
  height: 500px;
  background-color: pink;
}
.list {
  display: flex;
  gap: 30px;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .burger {
    display: block;
  }
  .list {
    display: none;
  }
}
